@charset "utf-8";
.container-fluid .navbar.navbar-default {
	background-color: rgba(255,255,255,0.00);
	border-style: none;
	border-width: 0px;
	margin-top: 50px;
	font-family: AvantGarde-Book;
	font-style: normal;
	font-size: medium;
}


.img-fill {
	width: 35%;
	float: left;
	margin-left: 15px;
}
p {
	font-family: "Calibri Light";
	font-style: normal;
	text-align: left;
	margin-left: auto;
	font-size: 16px;
	max-width: 400px;
}

#rapper {
	padding-left: 0px;
	padding-right: 0px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1080px;
}
.text-bold {
	font-weight: bold;
}
